body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 369px;
    margin-right: 394px;
    font-family: 'inter';
    background-color: #D1D5DB;
}

.header{
    display: flex;
    width: 100%;
    justify-content: center;
}

h1{
    margin-top: 94px;
    margin-bottom: 44px;
    padding: 0;
}

.shopping form #box-main{
    width: 400px;
    height: 44px;
    font-size: 16px;
    border-radius: 12px;
    border: #D1D5DB 2px solid;
    padding-left: 18px; 
}

.shopping form button{
    background-color: #CA3884;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 12px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    border: 0;
    margin-left: 16px;
    cursor: pointer;
}

.item{
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    background-color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
}
.space{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.item .ico-trash-can{
    height: 20px;
    padding: 5px; 
    cursor: pointer;
}
.mini-space{
    padding-right:10px;
    padding-top:8.5px;
    padding-bottom: 8.5px;

}

.alert{
    background-color: #C93847;
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 12px;
    margin-top: 40px;
    color: #fff;
}
.alert .ico-alert{
    height: 20px;
}
.alert .close {
    height: 20px;
    align-self: center;
    padding: 5px;
}

/* hover's */
.item .ico-trash-can:hover{
    background-color: #D1D5DB;
    border-radius:20px ;
    padding: 5px;
    
}
.alert .close:hover{
    background-color: #0000001b;
    opacity: 50%;
    border-radius: 20px;
    cursor: pointer;
    
}
.shopping form button:hover{
    background-color: #A52C6B;
}
/* Variantes */
.line-through{
    text-decoration: line-through;
    color: #D1D5DB;
    
}
.hide{
    display: none;
}